<div class="coverall" style="height: 100%;margin-top: -8px;margin-left: -8px;background-color: #e40102;width: 1910px;">
    <div class="top" style="height: 800px">
      <img style="width: 100%;height: 920px;box-shadow: 0px 0px 30px black;" [src]="images[currentIndex]">
        <div class="col-lg-6" style="margin-top: -900px;">
             <span style="margin-left: 25px;color: white;font-size: 16px;">
             <a style="color: white;font-family: proxima-nova,sans-serif;font-weight: 300; font-size: 12px">
              <i class="bi bi-geo-alt"></i>
                  Contact Us
              </a>
            </span>
             <span style="margin-left: 20px;">
                <a style="color: white;font-family: proxima-nova,sans-serif;font-weight: 300; font-size: 12px">
                    <i class="bi bi-telephone"></i>
                     07466-47579</a>
            </span>

            <span style="margin-left: 75%;">
                <a style="color: white;font-family: proxima-nova,sans-serif;font-weight: 300;padding-right: 20px; font-size: 12px">Login</a>
            </span>
            <span>
                <a style="color: white;font-family: proxima-nova,sans-serif;font-weight: 300;padding-right: 20px; font-size: 12px">Register</a>
            </span>
            <span>
                <a style="color: white;font-family: proxima-nova,sans-serif;font-weight: 300;padding-right: 20px; font-size: 12px">Wish List</a>
            </span>
            <span>
                <svg style="margin-bottom: -4px;" width="21px" height="25px" viewBox="0 0 21 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Hatbox</title>
                    <desc>Created with Sketch.</desc>
                    <defs>
                        <polygon id="path-1" points="0.103778748 0.10462963 9.59394223 0.10462963 9.59394223 9.09875661 0.103778748 9.09875661"></polygon>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Mobile-Header-Copy" transform="translate(-283.000000, -22.000000)">
                            <g id="Hatbox" transform="translate(283.000000, 22.000000)">
                                <g id="Group-6">
                                    <g id="Group-3" transform="translate(5.381250, 0.027646)">
                                        <mask id="mask-2" fill="white">
                                            <use xlink:href="#path-1"></use>
                                        </mask>
                                        <g id="Clip-2"></g>
                                        <path d="M0.830248125,9.09875661 C0.431773125,9.09875661 0.108635625,8.77349206 0.108373125,8.37177249 L0.103779375,2.37798942 C0.102860625,1.12785714 1.11112313,0.109867725 2.35156688,0.108941799 L7.33801688,0.10457672 L7.33985437,0.10457672 C8.57951062,0.10457672 9.58842937,1.12044974 9.58947937,2.36992063 L9.59394187,8.36383598 C9.59433562,8.76555556 9.27132937,9.09161376 8.87272313,9.09187831 L8.87206687,9.09187831 C8.47359187,9.09187831 8.15058562,8.76661376 8.15019187,8.36502646 L8.14572937,2.37111111 C8.14546687,2.15589947 8.06107312,1.95246032 7.90790438,1.79835979 C7.75486687,1.64439153 7.55313562,1.55960317 7.33985437,1.55960317 L7.33919812,1.55960317 L2.35274813,1.56396825 C1.90833563,1.56436508 1.54713562,1.92891534 1.54752937,2.37679894 L1.55212313,8.37071429 C1.55238563,8.77243386 1.22951063,9.09849206 0.830773125,9.09875661 L0.830248125,9.09875661 Z" id="Fill-1" fill="white" mask="url(#mask-2)"></path>
                                    </g>
                                    <path d="M10.5,5.18637566 C5.50633125,5.18637566 1.44375,9.28068783 1.44375,14.3133598 C1.44375,19.3460317 5.50633125,23.4403439 10.5,23.4403439 C15.4936687,23.4403439 19.55625,19.3460317 19.55625,14.3133598 C19.55625,9.28068783 15.4936687,5.18637566 10.5,5.18637566 M10.5,24.8953704 C4.7103,24.8953704 0,20.1482804 0,14.3133598 C0,8.47843915 4.7103,3.73134921 10.5,3.73134921 C16.2897,3.73134921 21,8.47843915 21,14.3133598 C21,20.1482804 16.2897,24.8953704 10.5,24.8953704" id="Fill-4" fill="white"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </span>
            <span style="color: white;margin-left: -14px;">0</span>
            <span style="margin-left: 22px;"><i class="bi bi-search" style="color: white;"></i></span>
        </div>
        <div>
            <img style="margin-left: 900px;width: 128px;height: 87px;margin-bottom: -78px;" src="assets/images/logo1.png">
        </div>
        <div style="height: 200px; margin-left: 235px; margin-top: -12px;">
            <a style="margin-left: 200px;" class="menu-item"><span style="color: white;font-family: proxima-nova,sans-serif;font-weight: 400;font-size: 14px;letter-spacing: 0px;cursor: pointer;">SHOP</span>
                <div class="dropdown-content" style="width: 90%;">
                    <div style="width: 20%;padding-top: 5%;">
                        <a style="color: black;font-weight: bold;">WOMEN'S HAT</a>
                        <a style="color: black;">All Womens</a>
                        <a style="color: black;">Beaver Felt Hats</a>
                        <a style="color: black;">Hare Felt Hats</a>
                        <a style="color: black;">Hand Dye Hats</a>
                        <a style="color: black;">Straw Hats</a>
                        <a style="color: black;">Montecristi Hats</a>
                        <a style="color: black;">Caps</a>
                        <a style="color: black;">Ready to ship</a>
                    </div>
                   <div style="float: right;width: 20%;padding-right: 60%;margin-top: -25%;">
                        <a style="color: black;font-weight: bold;">MEN'S HAT</a>
                        <a style="color: black;">All Mens</a>
                        <a style="color: black;">Beaver Felt Hats</a>
                        <a style="color: black;">Hare Felt Hats</a>
                        <a style="color: black;">Hand Dye Hats</a>
                        <a style="color: black;">Straw Hats</a>
                        <a style="color: black;">Montecristi Hats</a>
                        <a style="color: black;">Caps</a>
                        <a style="color: black;">Ready to ship</a>
                   </div>
                   <div style="float: right;width: 20%;padding-right: 45%;margin-top: -385px;">
                    <a style="color: black;font-weight: bold;">SHOES</a>
                    <a style="color: black;">Mens Shoes</a>
                    <a style="color: black;">Womens Shoes</a>
                    <br>
                    <a style="color: black;font-weight: bold;">ACCESSORIES</a>
                    <a style="color: black;">All Accessories</a>
                    <a style="color: black;">Pocket Squares</a>
                    <br>
                    <a style="color: black;font-weight: bold;">GIFT CARDS</a>
                    <a style="color: black;">Gift Card</a>
                    <a style="color: black;">Virtual Gift Card</a>
                    <div style="margin-left: -155%;">
                        <a style="color: black;margin-bottom: -6%;margin-top: 5%;"><i class="bi bi-journal"></i>Book Online Fitting</a>
                        <a style="color: black;float: left;margin-left: 35%;margin-right: 10%;"><i class="bi bi-bag-heart-fill"></i>Custom</a>
                        <a style="color: black;"><i class="bi bi-clipboard-plus"></i>Your Hat Size</a>
                    </div>
               </div>

                <div style="float: right;width: 35%;padding-right: 10%;margin-top: -490px;height: 400px;">
                    <img style="height: 400px; width:100%;" src="assets/images/main3.jpg">
                </div>

                  </div>
                </a>

            <a style="margin-left: 50px;" class="menu-item1"><span style="color: white;font-family: proxima-nova,sans-serif;font-weight: 400;font-size: 14px;letter-spacing: 0px;cursor: pointer;">BOOK AN EXPERIENCE</span>
              <div class="dropdown-content1" style="width: 90%;">
                <div style="width: 20%;padding-top: 5%;">
                    <a style="color: black;font-weight: bold;">WOMEN HAT</a>
                    <a style="color: black;">All Womens</a>
                    <a style="color: black;">Beaver Felt Hats</a>
                    <a style="color: black;">Hare Felt Hats</a>
                    <a style="color: black;">Hand Dye Hats</a>
                    <a style="color: black;">Straw Hats</a>
                    <a style="color: black;">Montecristi Hats</a>
                    <a style="color: black;">Caps</a>
                    <a style="color: black;">Ready to ship</a>
                </div>
               <div style="float: right;width: 20%;padding-right: 60%;margin-top: -25%;">
                    <a style="color: black;font-weight: bold;">MEN HAT</a>
                    <a style="color: black;">All Mens</a>
                    <a style="color: black;">Beaver Felt Hats</a>
                    <a style="color: black;">Hare Felt Hats</a>
                    <a style="color: black;">Hand Dye Hats</a>
                    <a style="color: black;">Straw Hats</a>
                    <a style="color: black;">Montecristi Hats</a>
                    <a style="color: black;">Caps</a>
                    <a style="color: black;">Ready to ship</a>
               </div>
               <div style="float: right;width: 20%;padding-right: 45%;margin-top: -385px;">
                <a style="color: black;font-weight: bold;">SHOES</a>
                <a style="color: black;">Mens Shoes</a>
                <a style="color: black;">Womens Shoes</a>
                <br>
                <a style="color: black;font-weight: bold;">ACCESSORIES</a>
                <a style="color: black;">All Accessories</a>
                <a style="color: black;">Pocket Squares</a>
                <br>
                <a style="color: black;font-weight: bold;">GIFT CARDS</a>
                <a style="color: black;">Gift Card</a>
                <a style="color: black;">Virtual Gift Card</a>
                <div style="margin-left: -155%;">
                    <a style="color: black;margin-bottom: -6%;margin-top: 5%;"><i class="bi bi-journal"></i>Book Online Fitting</a>
                    <a style="color: black;float: left;margin-left: 35%;margin-right: 10%;"><i class="bi bi-bag-heart-fill"></i>Custom</a>
                    <a style="color: black;"><i class="bi bi-clipboard-plus"></i>Your Hat Size</a>
                </div>
           </div>

            <div style="float: right;width: 35%;padding-right: 10%;margin-top: -490px;height: 400px;">
                <img style="height: 400px; width:100%;" src="assets/images/main3.jpg">
            </div>

              </div>
            </a>
            <a style="margin-left: 50px;" class="menu-item2"><span style="color: white;font-family: proxima-nova,sans-serif;font-weight: 400;font-size: 14px;letter-spacing: 0px;cursor: pointer;">CUSTOM</span>
              <div class="dropdown-content2" style="width: 90%;">
                <div style="width: 20%;padding-top: 5%;">
                    <a style="color: black;font-weight: bold;">WOMEN HAT</a>
                    <a style="color: black;">All Womens</a>
                    <a style="color: black;">Beaver Felt Hats</a>
                    <a style="color: black;">Hare Felt Hats</a>
                    <a style="color: black;">Hand Dye Hats</a>
                    <a style="color: black;">Straw Hats</a>
                    <a style="color: black;">Montecristi Hats</a>
                    <a style="color: black;">Caps</a>
                    <a style="color: black;">Ready to ship</a>
                </div>
               <div style="float: right;width: 20%;padding-right: 60%;margin-top: -25%;">
                    <a style="color: black;font-weight: bold;">MEN HAT</a>
                    <a style="color: black;">All Mens</a>
                    <a style="color: black;">Beaver Felt Hats</a>
                    <a style="color: black;">Hare Felt Hats</a>
                    <a style="color: black;">Hand Dye Hats</a>
                    <a style="color: black;">Straw Hats</a>
                    <a style="color: black;">Montecristi Hats</a>
                    <a style="color: black;">Caps</a>
                    <a style="color: black;">Ready to ship</a>
               </div>
               <div style="float: right;width: 20%;padding-right: 45%;margin-top: -385px;">
                <a style="color: black;font-weight: bold;">SHOES</a>
                <a style="color: black;">Mens Shoes</a>
                <a style="color: black;">Womens Shoes</a>
                <br>
                <a style="color: black;font-weight: bold;">ACCESSORIES</a>
                <a style="color: black;">All Accessories</a>
                <a style="color: black;">Pocket Squares</a>
                <br>
                <a style="color: black;font-weight: bold;">GIFT CARDS</a>
                <a style="color: black;">Gift Card</a>
                <a style="color: black;">Virtual Gift Card</a>
                <div style="margin-left: -155%;">
                    <a style="color: black;margin-bottom: -6%;margin-top: 5%;"><i class="bi bi-journal"></i>Book Online Fitting</a>
                    <a style="color: black;float: left;margin-left: 35%;margin-right: 10%;"><i class="bi bi-bag-heart-fill"></i>Custom</a>
                    <a style="color: black;"><i class="bi bi-clipboard-plus"></i>Your Hat Size</a>
                </div>
           </div>

            <div style="float: right;width: 35%;padding-right: 10%;margin-top: -490px;height: 400px;">
                <img style="height: 400px; width:100%;" src="assets/images/main3.jpg">
            </div>

              </div>
            </a>
            <img style="height: 170px;margin-bottom: -78px;" src="assets/images/logo.png">
            <a class="menu-item3"><span style="color: white;font-family: proxima-nova,sans-serif;font-weight: 400;font-size: 14px;letter-spacing: 0px;cursor: pointer;" >W&W CULTURE</span>
              <div class="dropdown-content3" style="width: 90%;">
                <div style="width: 20%;padding-top: 5%;">
                    <a style="color: black;font-weight: bold;">WOMEN HAT</a>
                    <a style="color: black;">All Womens</a>
                    <a style="color: black;">Beaver Felt Hats</a>
                    <a style="color: black;">Hare Felt Hats</a>
                    <a style="color: black;">Hand Dye Hats</a>
                    <a style="color: black;">Straw Hats</a>
                    <a style="color: black;">Montecristi Hats</a>
                    <a style="color: black;">Caps</a>
                    <a style="color: black;">Ready to ship</a>
                </div>
               <div style="float: right;width: 20%;padding-right: 60%;margin-top: -25%;">
                    <a style="color: black;font-weight: bold;">MEN HAT</a>
                    <a style="color: black;">All Mens</a>
                    <a style="color: black;">Beaver Felt Hats</a>
                    <a style="color: black;">Hare Felt Hats</a>
                    <a style="color: black;">Hand Dye Hats</a>
                    <a style="color: black;">Straw Hats</a>
                    <a style="color: black;">Montecristi Hats</a>
                    <a style="color: black;">Caps</a>
                    <a style="color: black;">Ready to ship</a>
               </div>
               <div style="float: right;width: 20%;padding-right: 45%;margin-top: -385px;">
                <a style="color: black;font-weight: bold;">SHOES</a>
                <a style="color: black;">Mens Shoes</a>
                <a style="color: black;">Womens Shoes</a>
                <br>
                <a style="color: black;font-weight: bold;">ACCESSORIES</a>
                <a style="color: black;">All Accessories</a>
                <a style="color: black;">Pocket Squares</a>
                <br>
                <a style="color: black;font-weight: bold;">GIFT CARDS</a>
                <a style="color: black;">Gift Card</a>
                <a style="color: black;">Virtual Gift Card</a>
                <div style="margin-left: -155%;">
                    <a style="color: black;margin-bottom: -6%;margin-top: 5%;"><i class="bi bi-journal"></i>Book Online Fitting</a>
                    <a style="color: black;float: left;margin-left: 35%;margin-right: 10%;"><i class="bi bi-bag-heart-fill"></i>Custom</a>
                    <a style="color: black;"><i class="bi bi-clipboard-plus"></i>Your Hat Size</a>
                </div>
           </div>

            <div style="float: right;width: 35%;padding-right: 10%;margin-top: -490px;height: 400px;">
                <img style="height: 400px; width:100%;" src="assets/images/main3.jpg">
            </div>

              </div>
            </a>
            <a style="margin-left: 50px;" class="menu-item4"><span style="color: white;font-family: proxima-nova,sans-serif;font-weight: 400;font-size: 14px;letter-spacing: 0px;cursor: pointer;">UNDERNEATH MY HAT</span>
              <div class="dropdown-content4" style="width: 90%;">
                <div style="width: 20%;padding-top: 5%;">
                    <a style="color: black;font-weight: bold;">WOMEN HAT</a>
                    <a style="color: black;">All Womens</a>
                    <a style="color: black;">Beaver Felt Hats</a>
                    <a style="color: black;">Hare Felt Hats</a>
                    <a style="color: black;">Hand Dye Hats</a>
                    <a style="color: black;">Straw Hats</a>
                    <a style="color: black;">Montecristi Hats</a>
                    <a style="color: black;">Caps</a>
                    <a style="color: black;">Ready to ship</a>
                </div>
               <div style="float: right;width: 20%;padding-right: 60%;margin-top: -25%;">
                    <a style="color: black;font-weight: bold;">MEN HAT</a>
                    <a style="color: black;">All Mens</a>
                    <a style="color: black;">Beaver Felt Hats</a>
                    <a style="color: black;">Hare Felt Hats</a>
                    <a style="color: black;">Hand Dye Hats</a>
                    <a style="color: black;">Straw Hats</a>
                    <a style="color: black;">Montecristi Hats</a>
                    <a style="color: black;">Caps</a>
                    <a style="color: black;">Ready to ship</a>
               </div>
               <div style="float: right;width: 20%;padding-right: 45%;margin-top: -385px;">
                <a style="color: black;font-weight: bold;">SHOES</a>
                <a style="color: black;">Mens Shoes</a>
                <a style="color: black;">Womens Shoes</a>
                <br>
                <a style="color: black;font-weight: bold;">ACCESSORIES</a>
                <a style="color: black;">All Accessories</a>
                <a style="color: black;">Pocket Squares</a>
                <br>
                <a style="color: black;font-weight: bold;">GIFT CARDS</a>
                <a style="color: black;">Gift Card</a>
                <a style="color: black;">Virtual Gift Card</a>
                <div style="margin-left: -155%;">
                    <a style="color: black;margin-bottom: -6%;margin-top: 5%;"><i class="bi bi-journal"></i>Book Online Fitting</a>
                    <a style="color: black;float: left;margin-left: 35%;margin-right: 10%;"><i class="bi bi-bag-heart-fill"></i>Custom</a>
                    <a style="color: black;"><i class="bi bi-clipboard-plus"></i>Your Hat Size</a>
                </div>
           </div>

            <div style="float: right;width: 35%;padding-right: 10%;margin-top: -490px;height: 400px;">
                <img style="height: 400px; width:100%;" src="assets/images/main3.jpg">
            </div>

              </div>
            </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div style="height: 600px; background-color: #e40102;">
        <img style="margin-left: 200px;height: 600px; margin-top: 160px;box-shadow: 0px 0px 60px black;" src="assets/images/main.jpg">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


         <div style="margin-top: -20%;">
            <h1 style="padding-left: 80%;font-family: serif;font-weight: 100;text-shadow: 0px 0px 2px;font-family: proxima-nova,sans-serif">MENS HATS</h1>
            <p class="shop">SHOP</p>
        </div>
    </div>
    <br>
    <br>
    <div style="height: 700px; margin-top: 170px; background-color: #e40102;">
        <h1 class="lat">LATEST CREATIONS</h1>
        <img style="margin-left: 200px;height: 900px;width: 40%; margin-top: 20px;box-shadow: 0px 0px 60px black;" src="assets/images/main5.jpg">
        <div style="padding-left: 65%;margin-top: -35%;">

            <img style="height: 420px;margin-left: -60px;margin-top: -100px;opacity: 0.7;

            -webkit-box-reflect: below -94px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.1));" src="assets/images/logo1.png">

        </div>
    </div>
    <div style="height: 600px;background-color: #e40102;">
        <img style="margin-left: 900px;height: 600px; margin-top: 375px;box-shadow: 0px 0px 60px black;" src="assets/images/main.jpg">
         <div style="margin-top: -20%;">
            <h1 style="padding-left: 15%;font-family: serif;font-weight: 100;text-shadow: 0px 0px 2px;font-family: proxima-nova,sans-serif">MENS HATS</h1>
            <p class="shops">SHOP</p>
        </div>
    </div>
    <div style="height: 600px;background-color: #e40102;">
        <img style="margin-left: 200px;height: 600px; margin-top: 450px;box-shadow: 0px 0px 60px black;" src="assets/images/main6.jpg">
         <div style="margin-top: -20%;">
            <h1 style="padding-left: 65%;font-family: serif;font-weight: 100;text-shadow: 0px 0px 2px;font-family: proxima-nova,sans-serif">MENS HATS</h1>
            <p class="shop1">SHOP</p>
        </div>
        <div style="height: 600px;background-color: #e40102;">
            <img style="margin-left: 900px;height: 600px; margin-top: 375px;box-shadow: 0px 0px 60px black;" src="assets/images/main3.jpg">
             <div style="margin-top: -20%;">
                <h1 style="padding-left: 15%;font-family: serif;font-weight: 100;text-shadow: 0px 0px 2px;font-family: proxima-nova,sans-serif">MENS HATS</h1>
                <p class="shop2">SHOP</p>
            </div>
        </div>
        <div style="height: 600px;background-color: #e40102;">
            <img style="margin-left: 200px;height: 600px; margin-top: 450px;box-shadow: 0px 0px 60px black;" src="assets/images/main2.jpg">
             <div style="margin-top: -20%;">
                <h1 style="padding-left: 65%;font-family: serif;font-weight: 100;text-shadow: 0px 0px 2px;font-family: proxima-nova,sans-serif">MENS HATS</h1>
                <p class="shop7">SHOP</p>
            </div>
            <div style="height: 600px;background-color: #e40102;">
                <img style="margin-left: 900px;height: 600px; margin-top: 375px;box-shadow: 0px 0px 60px black;" src="assets/images/main3.jpg">
                 <div style="margin-top: -20%;">
                    <h1 style="padding-left: 15%;font-family: serif;font-weight: 100;text-shadow: 0px 0px 2px;font-family: proxima-nova,sans-serif">MENS HATS</h1>
                    <p class="shop3">SHOP</p>
                </div>
            </div>
            <div style="height: 600px;background-color: #e40102;">
                <img style="margin-left: 200px;height: 600px; margin-top: 450px;box-shadow: 0px 0px 60px black;" src="assets/images/main2.jpg">
                 <div style="margin-top: -20%;">
                    <h1 style="padding-left: 65%;font-family: serif;font-weight: 100;text-shadow: 0px 0px 2px;font-family: proxima-nova,sans-serif">MENS HATS</h1>
                    <p class="shop4">SHOP</p>
                </div>
                <div style="height: 600px;background-color: #e40102;">
                    <img style="margin-left: 900px;height: 600px; margin-top: 375px;box-shadow: 0px 0px 60px black;" src="assets/images/main3.jpg">
                     <div style="margin-top: -20%;">
                        <h1 style="padding-left: 15%;font-family: serif;font-weight: 100;text-shadow: 0px 0px 2px;font-family: proxima-nova,sans-serif">MENS HATS</h1>
                        <p class="shop5">SHOP</p>
                    </div>
                </div>
                <div style="height: 600px;background-color: #e40102;">
                    <img style="margin-left: 200px;height: 600px; margin-top: 450px;box-shadow: 0px 0px 60px black;" src="assets/images/main2.jpg">
                     <div style="margin-top: -20%;">
                        <h1 style="padding-left: 65%;font-family: serif;font-weight: 100;text-shadow: 0px 0px 2px;font-family: proxima-nova,sans-serif">MENS HATS</h1>
                        <p class="shop6">SHOP</p>
                    </div>


                    <div style="height:400px;background-color: #e40102; ">

                        <img style="height: 280px; width:305px;margin-top: 500px;margin-left: 17px; " src="assets/images/main.jpg">
                        <img style="height: 280px; width:305px;margin-top: 400px;margin-left: 10px;" src="assets/images/main0.jpg">
                        <img style="height: 280px; width:305px;margin-top: 400px;margin-left: 10px; " src="assets/images/main3.jpg">
                        <img style="height: 280px; width:305px;margin-top: 400px;margin-left: 10px;" src="assets/images/main2.jpg">
                        <img style="height: 280px; width:305px;margin-top: 400px;margin-left: 10px; " src="assets/images/main6.jpg">
                        <img style="height: 280px; width:305px;margin-top: 400px;margin-left: 10px; " src="assets/images/main3.jpg">
                        <h1 class="lat" style="margin-top: -350px;text-decoration: unset;">FOLLOW US ON @WORTHANDWORTH</h1>
                    </div>

                    <div class="row" style="height: 400px;margin-top: 500px;">
                        <h1 class="lat" style="text-decoration: unset;">SIGN UP AND RECEIVE 10% OFF YOUR FIRST ORDER</h1>
                        <br>
                        <br>
                        <input style="margin-left: 37%;width: 500px;border: 0px;height: 60px;border-bottom: 2px solid grey;" placeholder="    Your Email" type="email">
                        <span class="mail"><i class="bi bi-chevron-right"></i></span>

                        <div>
                            <br>
                            <br>
                            <h2 style="font-family: proxima-nova,sans-serif;padding-left: 200px;font-weight: 800;font-size: large;float: left;padding-right: 141px;">SHOP ONLINE</h2>
                            <h2 style="font-family: proxima-nova,sans-serif;font-weight: 800;font-size: large;float: left;padding-right: 250px;">ABOUT</h2>
                            <h2 style="font-family: proxima-nova,sans-serif;font-weight: 800;font-size: large;float: left;padding-right: 160px;">CUSTOMER CARE</h2>
                            <h2 style="font-family: proxima-nova,sans-serif;font-weight: 800;font-size: large;float: left;padding-right: 100px;">COVID-19</h2>
                        </div>
                    </div>

                    <div style="height: 350px; margin-top: -10%;">
                        <br>
                        <div style="width: 445px;">
                        <h1 class="signIn">Sign In</h1>
                        <h1 class="signIn">Track Your Order</h1>
                        <h1 class="signIn">Personal Consultation</h1>
                        <h1 class="signIn">Shipping</h1>
                        <h1 class="signIn">Returns/Exchanges</h1>
                    </div>
                    <div style="margin-top: -163px;width: 200px;margin-left: 463px;">
                        <h1 class="aboutDt">Our Story</h1>
                        <h1 class="aboutDt">Press</h1>
                    </div>
                    <div style="margin-top: -64px;width: 200px;margin-left: 41%;">
                        <h1 class="cus">Contact</h1>
                        <h1 class="cus">Hat Care</h1>
                        <h1 class="cus">Size Guide</h1>
                        <h1 class="cus">FAQ</h1>
                    </div>
                    <div style="margin-top: -125px;">
                        <h1 class="covid">Helpful information for Covid-19</h1>
                    </div>
                    <div style="margin-top: -2%;">
                            <i style="margin-left: 140px;padding-right: 20px;" class="bi bi-instagram"></i>
                            <i style="padding-right: 20px;" class="bi bi-facebook"></i>
                            <i class="bi bi-envelope-open"></i>
                            <div style="width: 170px;padding-left: 74%;">
                                <h1 class="iconscmd">No 2, sai nagar kovur EB - 69</h1>
                                 <h1 class="iconscmd">91+81900-81900</h1>
                                 <h1 class="iconscmd">Monday: closed
                                    Tuesday-Saturday: 11-7
                                    Sunday: 12-5</h1>
                            </div>
                    </div>
                    <br>
                    <br>
                    <div style="height: 70px;background: lightgray;">
                       <h1 style="color: gray;font-family: sans-serif;font-weight: 100;font-size: large;padding-top: 15px;padding-left: 17%;float: left;">© Copyright 2023 Missiles Men</h1>
                       <h1 style="color: gray;font-family: sans-serif;font-weight: 100;font-size: large;padding-top: 15px;padding-left: 2%;float: left;">Terms & Conditions</h1>
                       <h1 style="color: gray;font-family: sans-serif;font-weight: 100;font-size: large;padding-top: 15px;padding-left: 2%;float: left;">Privacy Policy</h1>
                       <h1 style="color: gray;font-family: sans-serif;font-weight: 100;font-size: large;padding-top: 15px;padding-left: 2%;float: left;">Request Personal Data</h1>
                       <h1 style="color: gray;font-family: sans-serif;font-weight: 100;font-size: large;padding-top: 15px;padding-left: 2%;float: left;">Do not sell my personal information </h1>
                       <h1 style="color: gray;font-family: sans-serif;font-weight: 100;font-size: large;padding-top: 15px;padding-left: 2%;float: left;">Site Credit</h1>
                    </div>
                    </div>




     </div>
